.post-form {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
  z-index: 10;

  @media (max-width: 768px) {
    padding: 0.75rem;
  }

  textarea {
    width: 100%;
    border: none;
    resize: none;
    font-size: 1.5rem;
    font-family: inherit;
    outline: none;
    padding: 0.5rem;
    background: none;

    @media (max-width: 768px) {
      font-size: 0.95rem;
    }
  }

  input[type="password"] {
    display: block;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    color: #333;
    outline: none;

    &::placeholder {
      color: #aaa;
      font-family: "GangwonEduSaeeum_OTFMediumA"; // placeholder에만 적용할 폰트
      font-size: 1.05rem;
    }
  }

  .form-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;

    @media (max-width: 768px) {
      align-items: stretch;
    }

    input[type="file"] {
      font-size: 0.9rem;
    }

    button {
      background-color: #ff6699;
      color: white;
      border: none;
      padding: 0.5rem 1.2rem;
      border-radius: 9999px;
      font-weight: bold;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        background-color: #ff4477;
      }

      @media (min-width: 769px) {
        width: auto;
      }
    }
  }
}
